In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_list=[]
for i in range(1,8):
    try:
        data=pd.read_csv(r'E:\3cschool\python_shuju_0\fangchan\lianjia{}.csv'.format(i),encoding='gbk')
    except:
        data=pd.read_csv(r'E:\3cschool\python_shuju_0\fangchan\lianjia{}.csv'.format(i))
    data_list.append(data)

In [3]:
len(data_list)

7

In [4]:
data_list[6].head(2)

,cjtaoshu,mendian,cjzongjia,zhiwei,haoping,cjdanjia,cjxiaoqu,xingming,cjzhouqi,biaoqian,cjlouceng,cjshijian,congyenianxian,bankuai
0,2,莱圳店,349.0,高级经纪人,100% 20,49659元/平,莱圳家园 1室1厅 70平,马博,58,客户热评,西/高楼层/16层,签约时间：2016-08-04,1-2年,清河
1,2,莱圳店,190.0,高级经纪人,100% 20,35382元/平,小营东路5号院 2室1厅 53平,马博,58,客户热评,南 北/中楼层/5层,签约时间：2015-12-19,1-2年,清河

In [5]:
data=pd.concat(data_list)

In [6]:
data.head(2)

,cjtaoshu,mendian,cjzongjia,zhiwei,haoping,cjdanjia,cjxiaoqu,xingming,cjzhouqi,biaoqian,cjlouceng,cjshijian,congyenianxian,bankuai
0,37,红莲北里店,251.0,店经理,97% 141,43997元/平,红莲北里 3室1厅 57平,郭海龙,36,房东信赖;销售达人;带看活跃,南 北/高楼层/6层,签约时间：2015-05-24,4-5年,马连道
1,37,红莲北里店,159.0,店经理,97% 141,36969元/平,红莲南里 1室1厅 43平,郭海龙,36,房东信赖;销售达人;带看活跃,南/高楼层/7层,签约时间：2015-05-10,4-5年,马连道

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162228 entries, 0 to 6680
Data columns (total 14 columns):
cjtaoshu          162228 non-null int64
mendian           162214 non-null object
cjzongjia         162226 non-null float64
zhiwei            162226 non-null object
haoping           162226 non-null object
cjdanjia          162226 non-null object
cjxiaoqu          162226 non-null object
xingming          162226 non-null object
cjzhouqi          162226 non-null object
biaoqian          145553 non-null object
cjlouceng         162226 non-null object
cjshijian         162226 non-null object
congyenianxian    162226 non-null object
bankuai           160906 non-null object
dtypes: float64(1), int64(1), object(12)
memory usage: 18.6+ MB

In [8]:
data.describe()

            cjtaoshu      cjzongjia
count  162228.000000  162226.000000
mean       29.112200     317.481277
std        19.607506     207.472106
min         1.000000       0.000000
25%        16.000000     190.000000
50%        26.000000     266.000000
75%        38.000000     385.000000
max       186.000000    6000.000000

In [9]:
#线性回归应用：根据给出的小区/面积/房子布局/楼层/位置等估算出价格

In [10]:
data=data[['cjdanjia','cjxiaoqu','cjlouceng','bankuai','xingming','cjzongjia','congyenianxian']]

In [11]:
data.head(2)

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian
0,43997元/平,红莲北里 3室1厅 57平,南 北/高楼层/6层,马连道,郭海龙,251.0,4-5年
1,36969元/平,红莲南里 1室1厅 43平,南/高楼层/7层,马连道,郭海龙,159.0,4-5年

In [12]:
#处理nan

In [13]:
data.isnull().sum()

cjdanjia             2
cjxiaoqu             2
cjlouceng            2
bankuai           1322
xingming             2
cjzongjia            2
congyenianxian       2
dtype: int64

In [14]:
data.dropna(how='all',inplace=True)
(data.isnull()).sum()

cjdanjia             0
cjxiaoqu             0
cjlouceng            0
bankuai           1320
xingming             0
cjzongjia            0
congyenianxian       0
dtype: int64

In [15]:
#重复值

In [16]:
data.duplicated().sum()

19754

In [17]:
data.sort_values(by='bankuai',inplace=True)

In [18]:
data.drop_duplicates(subset=['cjdanjia','cjxiaoqu','cjlouceng'],inplace=True)

In [19]:
data.duplicated().sum()

0

In [20]:
data.head()

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian
18111,34464元/平,麦子店街 2室1厅 52平,南 北/低楼层/6层,CBD,王海涛,182.0,5年以上
38119,53131元/平,合生国际花园 2室2厅 104平,南/中楼层/18层,CBD,李铁岗,555.0,4-5年
38118,55312元/平,富力城B区 3室2厅 148平,东 南/中楼层/12层,CBD,李铁岗,820.0,4-5年
38117,66485元/平,富力城D区 3室2厅 200平,南 北/低楼层/14层,CBD,李铁岗,1335.0,4-5年
38116,55738元/平,合生国际花园 2室2厅 103平,南/低楼层/18层,CBD,李铁岗,578.0,4-5年

In [21]:
(data.isnull()).sum()

cjdanjia             0
cjxiaoqu             0
cjlouceng            0
bankuai           1135
xingming             0
cjzongjia            0
congyenianxian       0
dtype: int64

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142214 entries, 18111 to 6676
Data columns (total 7 columns):
cjdanjia          142214 non-null object
cjxiaoqu          142214 non-null object
cjlouceng         142214 non-null object
bankuai           141079 non-null object
xingming          142214 non-null object
cjzongjia         142214 non-null float64
congyenianxian    142214 non-null object
dtypes: float64(1), object(6)
memory usage: 8.7+ MB

In [23]:
#线性回归应用：根据给出的小区/面积/房子布局/楼层/位置等估算出价格

In [24]:
data.head(2)

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian
18111,34464元/平,麦子店街 2室1厅 52平,南 北/低楼层/6层,CBD,王海涛,182.0,5年以上
38119,53131元/平,合生国际花园 2室2厅 104平,南/中楼层/18层,CBD,李铁岗,555.0,4-5年

In [26]:
data['cjdanjia']=(data.cjdanjia.str.replace('元/平','').astype(np.float32))/10000

In [27]:
data['cjdanjia'].head()

18111    3.4464
38119    5.3131
38118    5.5312
38117    6.6485
38116    5.5738
Name: cjdanjia, dtype: float32

In [28]:
data['cjdanjia']=np.round(data['cjdanjia'],2)

In [29]:
data['cjdanjia']

18111    3.45
38119    5.31
38118    5.53
38117    6.65
38116    5.57
38115    5.82
38114    5.80
38113    5.94
38112    6.59
38111    7.33
38110    9.02
38109    8.62
38108    7.93
38107    2.58
50857    6.02
50856    5.69
50855    6.05
50854    6.55
10329    4.03
10328    3.04
10327    5.09
10326    5.19
10325    3.38
10324    4.92
38120    5.09
10323    4.71
10321    4.82
10320    4.16
10319    4.69
10318    4.24
         ...
6639     1.76
6640     2.42
6641     4.21
6642     2.84
6643     2.14
6644     2.80
6645     1.79
6646     2.01
6647     4.82
6650     6.06
6651     7.48
6654     6.21
6655     5.15
6660     7.27
6661     2.25
6662     5.53
6663     7.31
6664     6.00
6665     5.02
6666     6.02
6667     9.75
6668     5.26
6669     5.73
6670     2.77
6671     5.14
6672     2.61
6673     1.85
6674     1.57
6675     1.49
6676     1.25
Name: cjdanjia, Length: 142214, dtype: float32

In [30]:
data.head(2)

,cjdanjia,cjxiaoqu,cjlouceng,bankuai,xingming,cjzongjia,congyenianxian
18111,3.45,麦子店街 2室1厅 52平,南 北/低楼层/6层,CBD,王海涛,182.0,5年以上
38119,5.31,合生国际花园 2室2厅 104平,南/中楼层/18层,CBD,李铁岗,555.0,4-5年

In [31]:
data.describe()

            cjdanjia      cjzongjia
count  142214.000000  142214.000000
mean        3.872496     317.574765
std         1.805551     207.120560
min         0.000000       0.000000
25%         2.620000     190.000000
50%         3.510000     266.500000
75%         4.720000     385.000000
max        14.990000    6000.000000

In [33]:
data=data[data.cjdanjia>0.5]

In [36]:
data.cjdanjia.min()

0.51

In [37]:
len(data)

141154

In [38]:
#cjlouceng分割为两列