In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data=pd.read_csv(r'E:\3cschool\python_shuju_0\dataset\air1908.csv')

In [8]:
data.head(3)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 13 columns):
Date            5268 non-null object
Time            3049 non-null object
Location        5248 non-null object
Operator        5250 non-null object
Flight #        1069 non-null object
Route           3562 non-null object
Type            5241 non-null object
Registration    4933 non-null object
cn/In           4040 non-null object
Aboard          5246 non-null float64
Fatalities      5256 non-null float64
Ground          5246 non-null float64
Summary         4878 non-null object
dtypes: float64(3), object(10)
memory usage: 535.1+ KB

In [10]:
#每种机型空难次数

In [11]:
data.Type.value_counts()

Douglas DC-3                                334
de Havilland Canada DHC-6 Twin Otter 300     81
Douglas C-47A                                74
Douglas C-47                                 62
Douglas DC-4                                 40
Yakovlev YAK-40                              37
Antonov AN-26                                36
Junkers JU-52/3m                             32
Douglas C-47B                                29
De Havilland DH-4                            28
Douglas DC-6B                                27
Breguet 14                                   23
Curtiss C-46A                                21
Douglas C-47-DL                              20
Douglas DC-6                                 20
McDonnell Douglas DC-9-32                    19
Antonov AN-24                                19
Antonov AN-12                                19
Embraer 110P1 Bandeirante                    18
Curtiss C-46                                 18
Junkers F-13                                 17
Fokker F-27 Friendship 600                   17
Tupolev TU-134A                              17
Fokker F-27 Friendship 200                   16
Cessna 208B Grand Caravan                    16
de Havilland Canada DHC-6 Twin Otter 100     16
Lockheed C-130H                              16
de Havilland Canada DHC-6 Twin Otter 200     15
Boeing KC-135A                               15
Britten-Norman BN-2A Islander                15
                                           ...
MD DC-8-11 / Lockheed  1049 S Const           1
Boeing B-737-281                              1
Lockheed L-1011-1 TriStar                     1
McDonnell Douglas DC-8 Super 63PF             1
Boeing RC-135T                                1
BAC One Eleven 204AF                          1
Transportes Aéreos Orientales                 1
Piper PA-31-325 Navajo                        1
PZL-MieleAN-2R                                1
Canadair CL-604                               1
Aerospatiale SA316B                           1
Fairchild Hiller FH-227B                      1
Convair CV-340/440                            1
Boeing B-707-320F                             1
Beechcraft 65-80                              1
Beechcraft King Air B90                       1
Cessna 310L                                   1
Vickers Viscount 781D                         1
Beech C18S                                    1
Douglas DC-9-31 /Cessna 206                   1
Vickers 614 Viking 1                          1
Yakovlev 42D                                  1
Boeing B-747-258F                             1
Airbus A330-203                               1
Douglas C-47A-20-DL                           1
Hawker Siddeley HS 125-400B (3)               1
Fairchild F-27M                               1
Boeing B-727-281 / Air Force F86F             1
Pel Air                                       1
Hughes 369D                                   1
Name: Type, Length: 2446, dtype: int64

In [13]:
top10=data.Type.value_counts()[:10]
top10

Douglas DC-3                                334
de Havilland Canada DHC-6 Twin Otter 300     81
Douglas C-47A                                74
Douglas C-47                                 62
Douglas DC-4                                 40
Yakovlev YAK-40                              37
Antonov AN-26                                36
Junkers JU-52/3m                             32
Douglas C-47B                                29
De Havilland DH-4                            28
Name: Type, dtype: int64

In [15]:
top10=data.Type.value_counts()[:10].index  #空难次数前10的机型
top10

Index(['Douglas DC-3', 'de Havilland Canada DHC-6 Twin Otter 300',
       'Douglas C-47A', 'Douglas C-47', 'Douglas DC-4', 'Yakovlev YAK-40',
       'Antonov AN-26', 'Junkers JU-52/3m', 'Douglas C-47B',
       'De Havilland DH-4'],
      dtype='object')

In [17]:
data_top10=data[data.Type.isin(top10)]  #前10所有空难信息

In [18]:
data_top10

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
21,12/16/1918,NaN,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,97,NaN,1.0,1.0,0.0,NaN
22,05/25/1919,NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,61,NaN,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...
23,07/19/1919,NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,1.0,0.0,NaN
24,10/02/1919,NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,1.0,0.0,NaN
26,10/20/1919,NaN,English Channel,Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN
28,03/10/1920,NaN,"New Paris, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,65,NaN,1.0,1.0,0.0,NaN
29,03/30/1920,NaN,"Newark, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,72,NaN,1.0,1.0,0.0,NaN
32,05/12/1920,NaN,"Oskaloosa, Iowa",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,79,NaN,2.0,1.0,0.0,NaN
33,06/06/1920,NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,204,NaN,1.0,1.0,0.0,NaN
35,08/16/1920,NaN,"College Park, Maryland",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,317,NaN,1.0,1.0,0.0,NaN
38,09/27/1920,NaN,"Hillersburg, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,316,NaN,1.0,1.0,0.0,NaN
41,10/15/1920,NaN,"Batavia, Illinois",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,76,NaN,1.0,1.0,0.0,NaN
42,11/07/1920,NaN,"Tie Siding, Wyoming",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,NaN,178,1.0,1.0,0.0,NaN
45,02/03/1921,NaN,"Mendotta, Minnisota",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,130,NaN,1.0,1.0,0.0,NaN
48,02/22/1921,NaN,"Elko, Nevada",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,67,NaN,1.0,1.0,0.0,NaN
50,04/21/1921,NaN,"Mitchel Field, NY",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,160,NaN,1.0,1.0,0.0,NaN
51,04/29/1921,NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,196,NaN,1.0,1.0,0.0,NaN
53,07/16/1921,NaN,"San Francisco, California",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,222,NaN,1.0,1.0,0.0,NaN
63,10/01/1925,NaN,"Nittany Mt, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,385,NaN,1.0,1.0,0.0,NaN
66,09/07/1922,NaN,"Indianapolis, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,227,NaN,1.0,1.0,0.0,NaN
72,01/18/1923,NaN,"Cheyenne, Wyoming",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,223,NaN,1.0,1.0,0.0,NaN
73,02/26/1923,NaN,"Meadville, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,291,NaN,1.0,1.0,0.0,NaN
76,09/07/1923,NaN,"Colton, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,283,NaN,1.0,1.0,0.0,NaN
79,12/06/1923,NaN,"Castalia, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,318,NaN,1.0,1.0,0.0,NaN
81,12/24/1923,NaN,"Egbert, WY",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,315,NaN,1.0,1.0,0.0,NaN
82,03/07/1924,NaN,"Grampian, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,327,NaN,1.0,1.0,0.0,NaN
85,08/01/1924,NaN,United States,US Aerial Mail Service,NaN,NaN,De Havilland DH-4,297,NaN,1.0,1.0,0.0,NaN
87,12/21/1924,NaN,"Goshen, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,311,NaN,1.0,1.0,0.0,NaN
347,01/31/1935,NaN,"Stettin, Germany",Deruluft,NaN,Koenigberg - Berlin,Junkers JU-52/3m,D-AREN,4051,11.0,11.0,0.0,"Crashed full speed into a hill, 450 feet high ..."
399,06/16/1936,NaN,"Mt. Lihesten, Norway",Den Norske Luftfartskole,NaN,Bergen - Trondheim,Junkers JU-52/3m,LN-DAE,4077,7.0,7.0,0.0,Crashed into the side of a mountain in fog.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,05/25/1998,10:20,"Near Longtiang, Laos",Military - Lao People's Liberation Army Air Force,NaN,Vientiane - Xiang Khoang,Yakovlev YAK-40,34001,9431835,26.0,26.0,0.0,The aircraft struck a jungle covered mountain ...
4577,08/21/1998,11:30,"Near Ghorepani, Nepal",Lumbini Airways,NaN,Jomsom - Pokhara,de Havilland Canada DHC-6 Twin Otter 300,9N-ACC,710,18.0,18.0,0.0,The aircraft crashed in a remote mountainous a...
4582,09/02/1998,NaN,Angola,Permaviatrans,NaN,NaN,Antonov AN-26,RA-26028,10408,24.0,24.0,0.0,Shot down by UNITA rebels 30 minutes after tak...
4590,09/28/1998,13:30,"Praia, Cape Verde",Cabo Verde Airlines,NaN,Sao Nicolau - Praia,de Havilland Canada DHC-6 Twin Otter 300,D4-CAX,550,22.0,1.0,0.0,The aircraft crashed to the ground while makin...
4594,10/21/1998,13:51,"Yerevan, Armenia",Ararat Avia,NaN,Yerevan - Krasnodar,Yakovlev YAK-40,EK-88272,9721053,37.0,0.0,4.0,"While attempting to take off, the aircraft str..."
4617,01/21/1999,08:10,"Bluefields, Nicaragua",Fuerza Aérea Nicaragua,NaN,Managua - Bluefields,Antonov AN-26,NaN,NaN,28.0,28.0,0.0,"The plane, on a relief mission to Bluefields w..."
4625,03/19/1999,09:45,"Davis Inlet, Newfoundland, Canada",Provincial Airlines,960,Goose Bay - Davis Inlet,de Havilland Canada DHC-6 Twin Otter 300,C-FWLQ,724,2.0,1.0,0.0,"On approach, the crew of the cargo plane desce..."
4628,04/08/1999,11:35,"Near Malaga, Colombia",Aerotaca,NaN,Bucaramanga - Malaga,de Havilland Canada DHC-6 Twin Otter 300,HK-2760,777,5.0,5.0,0.0,The aircraft crashed into La Caida Hill in fog...
4630,05/08/1999,19:21,"Off Port Vila, Vanuatu",Vanair,NaN,Espírita Santo - Port Vila,de Havilland Canada DHC-6 Twin Otter 300,YJ-RV9,694,12.0,7.0,0.0,Crashed into the ocean during a heavy rain. It...
4653,08/26/1999,10:54,"Turtkul, Uzbekistan",Uzbekistan Airways,NaN,Tashkent - Turtkul,Yakovlev YAK-40,UK-87848,9331730,33.0,2.0,0.0,"The aircraft struck power lines 2,000m past th..."
4702,03/09/2000,08:40,"Moscow, Russia",Vologodskiye Airlines,NaN,Moscow - Kiev,Yakovlev YAK-40,RA-88170,9620847,9.0,9.0,0.0,The aircraft climbed to an altitude of about 1...
4704,03/17/2000,09:30,"Near Kuna Yala, Panama",Aeroperlas,NaN,Panama City - Puerto Obaldia,de Havilland Canada DHC-6 Twin Otter 300,HP-1267APP,624,10.0,10.0,0.0,Crashed into a jungle mountainside 15 miles sh...
4734,07/27/2000,10:31,"Jodhura, Nepal",Royal Nepal Airlines,NaN,Bajhang - Dhangadhi,de Havilland Canada DHC-6 Twin Otter 300,9N-ABP,654,25.0,25.0,0.0,The aircraft crashed into the Churia mountain ...
4744,09/02/2000,NaN,"Mount Montezuma, Colombia",Military - Fuerza Aérea Colombiana,NaN,NaN,Douglas C-47,FAC1659,32984,7.0,7.0,0.0,Flew into Mt. Montezuma.
4757,10/31/2000,11:27,"Near Monaquimbundo, Angola",Aca-Ancargo,NaN,Saurimo - Luanda,Antonov AN-26,D2-FDI,27312009,44.0,44.0,0.0,The aircraft exploded in midair 20 minutes aft...
4760,11/15/2000,13:05,"Near Luanda, Angola",Asa Pesada,NaN,Luanda - Namibe,Antonov AN-26,D2-FCG,PESA001,57.0,57.0,0.0,The plane crashed and exploded in flames into ...
4786,05/17/2001,07:45,"Near Sari, Iran",Faraz Qeshm Airlines,NaN,Tehran - Gorgan,Yakovlev YAK-40,EP-TQP,9740856,30.0,30.0,0.0,The aircraft crashed into mountains about 12 m...
4844,02/21/2002,20:44,"Lakhta, Russia",Military - Russian Navy,-,Sanofov - Lakhta,Antonov AN-26,07RED,ZR726001,20.0,17.0,0.0,The plane was making an emergency landing afte...
4862,05/25/2002,NaN,"Near Nabire, Indonesia",Trigana Air Service,NaN,Nabire - Enaotali,de Havilland Canada DHC-6 Twin Otter 300,PK-YPZ,458,6.0,6.0,0.0,The aircraft crashed in thunderstorms and heav...
4874,07/17/2002,14:22,"Surkhet, Nepal",Skyline Airways,NaN,Jumla - Surkhet,de Havilland Canada DHC-6 Twin Otter 300,9N-AGF,828,4.0,4.0,0.0,The aircraft hit a tree and crashed into a hil...
4962,11/29/2003,15:20,"Boende, Congo",Military - Congolese Air Force,NaN,"Boende, Congo - Kinshasa, Congo",Antonov AN-26,9T-TAD,NaN,24.0,20.0,13.0,The aircraft suffered a blowout of a tire whil...
4968,01/13/2004,19:40,"Tashkent, Uzbekistan",Uzbekistan Airways,1154,Termez - Tashkent,Yakovlev YAK-40,UK-87985,9540844,37.0,37.0,0.0,Crashed while attempting to land in heavy fog....
5050,05/05/2005,13:30,"Near Kisangani, DemocratiRepubliCongo",Kisangani Airlift,NaN,Bangboka - Isiro,Antonov AN-26,EK-26060,17311107,11.0,10.0,0.0,The plane was heading for the town of Isiro wh...
5078,11/17/2006,08:07,"Puncak Jaya, Indonesia",Trigana Air Service,NaN,Mulia - Ilaga,de Havilland Canada DHC-6 Twin Otter 300,PK-YPY,535,12.0,12.0,0.0,The aircraft struck a mountain seven minutes b...
5099,05/23/2006,18:22,Off São Tomé Island,Air São Tomé,NaN,Training,de Havilland Canada DHC-6 Twin Otter 300,S9-BAL,648,4.0,4.0,0.0,The aircraft disappeared from radar screens wh...
5104,06/21/2006,11:30,"Jumla, Napal",Yeti Airlines,NaN,Surkhet - Jumla,de Havilland Canada DHC-6 Twin Otter 300,9N-AEQ,708,9.0,9.0,0.0,The plane crashed into a mountain on the east ...
5148,05/24/2007,17:45,"Near Pampa Hermosa, Peru",Military - Peruvian Air Force,NaN,Iquitos - Pucallpa,de Havilland Canada DHC-6 Twin Otter 300,FAP-303,483,20.0,13.0,0.0,Crashed into dense jungle shortly after taking...
5164,08/09/2007,12:00,"Off Moorea, French Polynesia",Air Moorea,1121,Moorea - Papeete,de Havilland Canada DHC-6 Twin Otter 300,F-OIQ,608,20.0,20.0,0.0,Soon after taking off the plane began loosing ...
5173,10/04/2007,10:40,"Kinshasa, DR Congo",Africa One Congo,NaN,Kinshasa - Tshikapa,Antonov AN-26,9Q-COS,47302001,22.0,21.0,30.0,"While attempting to take off, the cargo plane ..."
5234,10/08/2008,07:31,"Lukla, Nepal",Yeti Airlines,NaN,Katmandu - Lukla,de Havilland Canada DHC-6 Twin Otter 300,9N-AFE,720,19.0,18.0,0.0,"As the passenger plane came in for a landing, ..."

In [19]:
data_top10.count()

Date            753
Time            291
Location        750
Operator        752
Flight #         91
Route           458
Type            753
Registration    705
cn/In           610
Aboard          749
Fatalities      750
Ground          750
Summary         688
dtype: int64

In [20]:
data_top10.Location.value_counts

<bound method IndexOpsMixin.value_counts of 21                      Elizabeth, New Jersey
22                            Cleveland, Ohio
23                      Dix Run, Pennsylvania
24                         Newcastle, England
26                            English Channel
28                         New Paris, Indiana
29                         Newark, New Jersey
32                            Oskaloosa, Iowa
33                            Cleveland, Ohio
35                     College Park, Maryland
38                  Hillersburg, Pennsylvania
41                          Batavia, Illinois
42                        Tie Siding, Wyoming
45                        Mendotta, Minnisota
48                               Elko, Nevada
50                          Mitchel Field, NY
51                            Cleveland, Ohio
53                  San Francisco, California
63                           Nittany Mt, Ohio
66                      Indianapolis, Indiana
72                          Cheyenne, Wyoming
73                    Meadville, Pennsylvania
76                               Colton, Ohio
79                             Castalia, Ohio
81                                 Egbert, WY
82                     Grampian, Pennsylvania
85                              United States
87                            Goshen, Indiana
347                          Stettin, Germany
399                      Mt. Lihesten, Norway
                        ...
4559                     Near Longtiang, Laos
4577                    Near Ghorepani, Nepal
4582                                   Angola
4590                        Praia, Cape Verde
4594                         Yerevan, Armenia
4617                    Bluefields, Nicaragua
4625        Davis Inlet, Newfoundland, Canada
4628                    Near Malaga, Colombia
4630                   Off Port Vila, Vanuatu
4653                      Turtkul, Uzbekistan
4702                           Moscow, Russia
4704                   Near Kuna Yala, Panama
4734                           Jodhura, Nepal
4744                Mount Montezuma, Colombia
4757               Near Monaquimbundo, Angola
4760                      Near Luanda, Angola
4786                          Near Sari, Iran
4844                           Lakhta, Russia
4862                   Near Nabire, Indonesia
4874                           Surkhet, Nepal
4962                            Boende, Congo
4968                     Tashkent, Uzbekistan
5050    Near Kisangani, DemocratiRepubliCongo
5078                   Puncak Jaya, Indonesia
5099                      Off São Tomé Island
5104                             Jumla, Napal
5148                 Near Pampa Hermosa, Peru
5164             Off Moorea, French Polynesia
5173                       Kinshasa, DR Congo
5234                             Lukla, Nepal
Name: Location, Length: 753, dtype: object>

In [22]:
data['sur']=(data.Aboard-data.Fatalities)/data.Aboard #生存率

In [28]:
data.head().T

,0,1,2,3,4
Date,09/17/1908,07/12/1912,08/06/1913,09/09/1913,10/17/1913
Time,17:18,06:30,NaN,18:30,10:30
Location,"Fort Myer, Virginia","AtlantiCity, New Jersey","Victoria, British Columbia, Canada",Over the North Sea,"Near Johannisthal, Germany"
Operator,Military - U.S. Army,Military - U.S. Navy,Private,Military - German Navy,Military - German Navy
Flight #,NaN,NaN,-,NaN,NaN
Route,Demonstration,Test flight,NaN,NaN,NaN
Type,Wright Flyer III,Dirigible,Curtiss seaplane,Zeppelin L-1 (airship),Zeppelin L-2 (airship)
Registration,NaN,NaN,NaN,NaN,NaN
cn/In,1,NaN,NaN,NaN,NaN
Aboard,2,5,1,20,30
Fatalities,1,5,1,14,30
Ground,0,0,0,0,0
Summary,"During a demonstration flight, a U.S. Army fly...",First U.S. dirigible Akron exploded just offsh...,The first fatal airplane accident in Canada oc...,The airship flew into a thunderstorm and encou...,Hydrogen gas which was being vented was sucked...
sur,0.5,0,0,0.3,0

In [29]:
data.sort_values(by='sur',ascending=False)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,sur
108,10/21/1926,13:15,English Channel,Imperial Airways,NaN,NaN,Handley Page W-10,G-EBMS,W10/3,12.0,0.0,0.0,The plane was on a flight from London to Paris...,1.0
5074,12/08/2005,19:15,"Chicago, Illinois",Southwest Airlines,1248,"Baltimore, Maryland - Chicago, Illinois - Las ...",Boeing B-737-7H4,N471WN,32471/1535,103.0,0.0,1.0,The jetliner slid off Runway 13C at Chicago's ...,1.0
3428,07/23/1983,19:30,"Gimli, Manitoba, Canada",Air Canada,143,Ottawa - Edmonton,Boeing B-767-233ER,C-GAUN,22520/47,69.0,0.0,0.0,The aircraft took off from Ottawa bound for Ed...,1.0
4199,08/18/1993,16:56,"Leeward Point Airfield, Guantanamo Bay, Cuba",American International Airways,808,"Norfolk, VA - Guantanamo, Cuba",McDonnell Douglas DC-8-61,N814CK,46127,3.0,0.0,0.0,The plane crashed 1/4 of a mile short of the r...,1.0
3417,05/05/1983,09:15,"En route Miami, FL - Nassau, Bahamas",Eastern Air Lines,855,"Miami, FL - Nassau, Bahamas",Lockheed L-1011,N334EA,1141,172.0,0.0,0.0,Procedural error by maintenance crew caused O-...,1.0
3767,05/24/1988,12:55,"New Orleans, Louisiana",TACA,NaN,"Belize City, Belize - New Orleans, LA",Boeing B-737-3T0,N75356,23838,45.0,0.0,0.0,The aircraft encountered heavy rain and hail w...,1.0
2359,12/22/1969,10:30,"Near San Diego, California",Military U.S. Navy,NaN,NaN,LTVF-8J,150879,NaN,1.0,0.0,14.0,The fighter crashed into Miramar Naval Air Sta...,1.0
4171,03/31/1993,12:25,"Anchorage, Alaska",Japan Air Lines,46E,NaN,Boeing B-747-466,N47EV,26348,5.0,0.0,0.0,The No.2 engine and pylon separated from the a...,1.0
5057,08/02/2005,16:04,"Toronto, Canada",Air France,358,"Paris, France - Toronto Canada",Airbus A-340,F-GLZQ,289,309.0,0.0,0.0,The plane landed almost half-way down Runway 2...,1.0
4068,12/27/1991,08:51,"Stockholm, Sweden",Scandinavian Airlines (SAS),751,Stockholm-Copenhagen-Warsaw,MDonnell Douglas MD-81,OY-KHO,53003,129.0,0.0,0.0,"The aircraft reached an altitude of 3,000 feet...",1.0
4594,10/21/1998,13:51,"Yerevan, Armenia",Ararat Avia,NaN,Yerevan - Krasnodar,Yakovlev YAK-40,EK-88272,9721053,37.0,0.0,4.0,"While attempting to take off, the aircraft str...",1.0
4543,02/03/1998,15:15,"Near Cavalese, Trento, Italy",Military - U.S. Marine Corps,-,NaN,Grummand EA-6B,163045/CY-02,P-130,2.0,0.0,20.0,The aircraft struck and severed the cable to a...,1.0
3950,06/10/1990,07:33,"Oxfordshire, England",British Airways,5390,"Birmingham, England - Malaga, Spain",BAC One-Eleven 528FL,G-BJRT,BAC 234,85.0,0.0,0.0,"While en route, at FL 173, a large section of ...",1.0
1927,07/16/1964,18:29,"Richmond, Virginia",Eastern Air Lines,NaN,New York City - Richmond - Jacksonville,Douglas DC-7B,N809D,44860/616,76.0,0.0,0.0,"Landed 17 feet short of the runway threshold, ...",1.0
4242,03/23/1994,14:30,"Near Fayetteville, North Carolina",Military - U.S. Air Force / Military U.S. Air ...,NaN,NaN,GD F-16D / Lockheed C-130E,88-0171/6810942,1D-25 / 4322,7.0,0.0,23.0,The jet fighter collided in mid air with the t...,1.0
1610,06/30/1959,10:35,"Ishikawa City, Ryukyu Island, Okinawa",Military - U.S. Air Force,NaN,NaN,North American F-100D-25NA,55-3633A,NaN,1.0,0.0,17.0,The pilot ejected and parachuted safely from t...,1.0
3366,07/23/1982,02:30,"Castaic, California",Western Helicopter,NaN,Movie set,Bell UH-1B Huey Helicopter,N87701,6414038,1.0,0.0,3.0,"During the filming of 'Twilight Zone, The Movi...",1.0
4117,07/30/1992,17:41,"JFK Airport, New York, New York",Trans World Airlines,843,New York City - San Francisco,Lockheed L-1011,N11002,1014,292.0,0.0,0.0,"Immediately after liftoff, the stick shaker ac...",1.0
4231,03/02/1994,17:59,"New York, New York",Continental Airlines,795,New York City - Denver,McDonnell Douglas MD-82,N18835,49439,116.0,0.0,0.0,The aircraft overran the runway and came to re...,1.0
1885,12/17/1963,23:41,"Los Angeles, California",Western Airlines,NaN,NaN,Douglas DC-6B,N93131,45536,46.0,0.0,0.0,The No 1. and No2. Engine propellers touched ...,1.0
2486,07/30/1971,14:29,"San Francisco, California",Pan American World Airways,845,San Francisco - Los Angeles,Boeing B-747-121,N747PA,19639/2,218.0,0.0,0.0,The aircraft struck approach lights at the dep...,1.0
5217,07/07/2008,03:50,"Near Bogota, Colombia",Centurian Air Cargo,NaN,"Bogota, Colombia - Miami, FL",Boeing B-747-209BSF,N714CK,22446/519,8.0,0.0,3.0,The cargo plane carrying a load of flowers had...,1.0
4553,03/22/1998,19:42,"Bacolod, Philippines",Philippine Air Lines,137,Manila - Bacolod,Airbus A.320-214,RP-C3222,708,127.0,0.0,3.0,"The aircraft overran the 6,888 ft. runway, wen...",1.0
5178,11/08/2007,08:00,"Khartoum, Sudan",Juba Air Cargo,NaN,Khartoum - Juba,Antonov 12,ST-JUA,3341110,4.0,0.0,2.0,"While taking off, an engine on the cargo plane...",1.0
1868,08/21/1963,12:15,"Near Leningrad , Russia",Aeroflot,NaN,Tallinn - Moscow,Tupelov Tu-124,CCCP-45021,2350701,52.0,0.0,0.0,After the landing gear did not retract after ...,1.0
2835,08/07/1975,16:11,"Denver, Colorado",Continental Airlines,426,Denver - Wichita,Boeing B-727-224,N88777,19798/608,131.0,0.0,0.0,The aircraft climbed to about 100 feet above r...,1.0
3341,06/24/1982,20:44,"Mount Galunggung, Indonesia",British Airways,009,Kuala Lampur - Perth,Boeing B-747,G-BDXH,21635/365,257.0,0.0,0.0,The aircraft flew into a plume from a volcanie...,1.0
2247,08/28/1968,07:25,"Lopez, Washington",Island Sky Ferry - Air Taxi,NaN,NaN,Cessna 172,N2520Y,NaN,2.0,0.0,0.0,Misjudged altitude and crashed into water. Ri...,1.0
5186,01/17/2008,12:43,"London, England",British Airways,NaN,"Bejing, China - London, England",Boeing 777-236ER,G-YMMM,30314/342,152.0,0.0,0.0,The aircraft was on approach for landing on Ru...,1.0
1837,02/28/1963,21:29,"Boston, Massachusetts",Eastern Air Lines,NaN,NaN,Douglas DC-7,N842D,454448/944,26.0,0.0,1.0,"With engines idling, a girl ran into the No. 2...",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,08/21/1966,10:35,"Near Juneau, Alaska",Alaska Coastal Airlines,NaN,NaN,Grumman G-21 Goose,N88820,1114,9.0,9.0,0.0,Crashed into a glacial crevasse. Undetermined ...,0.0
2070,09/04/1966,NaN,"Mumbai, Indian",Indian Airlines,NaN,Training,Sud Aviation SE-210 Caravelle,VT-DSB,134,4.0,4.0,0.0,Struck a hill while simulating an engine failure.,0.0
2072,09/22/1966,13:03,"Winton, Australia",Ansett ANA,149,Mount Isa - Longreach,Vickers Viscount 832,VH-RMI,416,24.0,24.0,0.0,"About 150 miles from Longreach, fire was repor...",0.0
2073,09/22/1966,03:15,"Bogota, Colombia",Avianca,NaN,Bogota - Barranquilla,Douglas DC-4,HK-174,42929,2.0,2.0,0.0,The cargo plane struck trees at the end of the...,0.0
2074,10/01/1966,19:10,"Near Wemme, Oregon",West Coast Airlines,956,Eugene - Portland,McDonnell Douglas DC-9-14,N9101,45794/52,18.0,18.0,0.0,The plane crashed into Salmon Mountain while o...,0.0
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...,0.0
26,10/20/1919,NaN,English Channel,Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN,NaN
333,08/10/1934,NaN,"Ningbo, China",China National Aviation Corporation,NaN,NaN,Sikorsky S-38B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,03/07/1935,NaN,"Schievelbein, Germany",Deruluft,NaN,NaN,Rochrbach Roland,D-AJYP,45,NaN,3.0,0.0,Fuselage failure.,NaN
364,08/13/1935,NaN,"Hangow, China",China National Aviation Corporation,NaN,NaN,Sikorsky S-38B,NV40V,NaN,NaN,NaN,NaN,Destoryed in a storm.,NaN
423,12/26/1936,NaN,"Nanking, China",China National Aviation Corporation,NaN,NaN,Douglas DC-2,NC14269,NaN,NaN,NaN,NaN,NaN,NaN
526,09/26/1939,NaN,North Sea,KLM Royal Dutch Airlines,NaN,Stockholm - Amsterdam,Douglas DC-3,PH-ASM,2142,NaN,1.0,0.0,One Swedish passenger was killed when the plan...,NaN
537,07/07/1940,NaN,Gulf of Tonkin,Air France,NaN,NaN,Dewoitine D-338,F-AQBA,1,NaN,NaN,NaN,Shot down by a Japanese military fighter.,NaN
570,01/24/1942,NaN,"Near Samarinda, Borneo",KNILM,NaN,NaN,Douglas DC-3,PK-AFW,1982,NaN,NaN,NaN,Shot down by Japanese military aircraft.,NaN
571,01/26/1942,NaN,"Kupang, Timor",KNILM,NaN,NaN,Grumman G-21 Goose,PK-AFS,1081,NaN,NaN,NaN,Shot down by Japanese military aircraft.,NaN
573,02/14/1942,NaN,NaN,China National Aviation Corporation,NaN,NaN,Douglas DC-2,45,NaN,NaN,NaN,NaN,NaN,NaN
587,08/13/1942,NaN,"Algiers, Algeria",Air France,NaN,NaN,Liore et Olivier H-246 Air Boat,F-AREJ,403,NaN,4.0,0.0,Attacked by Royal Air Force fighters. Crashed...,NaN
593,10/01/1942,NaN,"Kunming, China",China National Aviation Corporation,NaN,NaN,Douglas C-47,69,NaN,NaN,NaN,NaN,Crashed while attempting to land after losing ...,NaN
678,11/09/1944,NaN,"Seljord, Norway",Military - U.S. Army Air Corps,NaN,NaN,NaN,42-52196,NaN,NaN,NaN,NaN,NaN,NaN
768,03/18/1946,NaN,"Between Chungking and Shanghai, China",China National Aviation Corporation,NaN,Chunking - Shanghai,NaN,139,NaN,NaN,NaN,NaN,Disappeared while en route. Plane never located.,NaN
832,12/25/1946,NaN,"Lunghwa, Shanghai, China",China National Aviation Corporation,NaN,NaN,"Curtiss C-46, C-47, DC-3",115,NaN,NaN,87.0,4.0,Various accidents involving three aircraft una...,NaN
1479,04/20/1957,NaN,"Jirkouk, Iraq",Air France,NaN,"Tehran, Iran - Istanbul, Turkey",Lockheed Super Constellation,F-BGNE,4514,NaN,1.0,0.0,Explosive decompression. A passenger was sucke...,NaN
3007,11/03/1977,NaN,"Belgrade, Yugoslavia",El Al,NaN,NaN,Boeing B-747,NaN,NaN,NaN,1.0,0.0,Explosive decompression.,NaN
3307,09/22/1981,12:00,"Near Babaeski, Turkey",Military - Turkish Air Force,NaN,NaN,Northrop F-5A,NaN,NaN,0.0,0.0,40.0,The fighter crashed into a village after the p...,NaN
3323,12/16/1981,NaN,"Kuala Belait, Brunei",Bristow Helicopters,NaN,NaN,Aerospatiale Puma,9M-SSC,1481,NaN,12.0,0.0,NaN,NaN
3369,08/11/1982,NaN,PacifiOcean,Pan American World Airways,830,Tokyo - Honolulu,Boeing B-747-121,N754PA,19658/47,NaN,1.0,0.0,A sixteen-year-old boy was killed when a bomb ...,NaN
3611,03/27/1986,NaN,"Bangui, Central African Republic",Military - French Air Force,NaN,NaN,Sepecat Jaguar A,NaN,NaN,0.0,0.0,35.0,The jet fighter crashed into a school shortly ...,NaN
3843,05/09/1989,NaN,"Near Tainjin, China",Aero Asahi,NaN,NaN,Bell 412,JA9596,33070,NaN,10.0,0.0,NaN,NaN
4080,02/20/1992,NaN,En route from Argentina to California,Aerolineas Argentinas,386,NaN,Boeing B-747,NaN,NaN,NaN,1.0,0.0,A passenger died of cholera while en route.,NaN
4705,03/22/2000,NaN,"Herreira, Spain",Military - Ejército del Aire,NaN,Sevilla - Herreira,CASA 212-DE Aviocar 200,TM-12D-73,314,NaN,NaN,NaN,Crashed while attempting to land in poor weather.,NaN